body {
    margin:0;
    padding:0;
}
#hero-image{
    top: 0;
    margin: 0;
    display: flex;
    width: 100%;
    height: auto;
    
}
.logo{
    position :absolute;
    font-size: 50px;
    left: 0.5em;
    font-family: 'Lobster', cursive;
}
.grid{
    display: flex;
    justify-content: space-around;
    background-color: none;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 5em;
    
    
}
.departmentBlock {
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    height: 400px;
    
}
.color-button, .name-button, .change-pic, .discount {
    width: 15em;
    padding: 5px;
    margin: 10px auto;
    box-sizing: content-box;
}
.dept {
    width: 150px;
    height: 120px;
    margin: 5px;
    box-sizing: content-box;
}

img:hover {
    opacity: 50%;
}

#jumper{
  width: 200px;
  height: auto;
}
#angry-cat{
    width: 200px;
    height: auto;
    margin-bottom: 1em;
}

.block-element-1 {
    display: flex;
    flex-direction: column;
}

.block-element-2 {
    display: flex;
    flex-direction: column;
}

.block-element-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.block-element-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    margin: 3em;
}
#footer{
    margin-top: 8em;
    border-top: 20px solid pink;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
   
}


.footer-box{
    text-align: center;
    width: 100%;
    height: 300px;
   
}

h1{
   font-family: 'Lobster', cursive;;
}




/* 
# Tablet */
@media only screen and (min-width: 768px){
   
}

/* # Desktop */
@media only screen and (min-width: 992px){

}

/* # Huge */
@media only screen and (min-width: 1150px){
  

} 
@media only screen and (max-width: 767px){
   
    
}